@media screen and (min-width : 805px) {
.grid{
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-auto-rows:minmax(400px,auto);
    width: 99%;
    height: 89%;
}

.map{
    grid-row: 1/3;
    grid-column: 1/2;
}
.location{
    grid-row: 3/5 ;
    grid-column: 1/2;
}
.date{
    grid-row: 1/2 ;
    grid-column: 2/3;
}
.summary{
    grid-row: 2/4;
    grid-column: 2/3;
}
.target{
    grid-row: 4/5;
    grid-column: 2/3;
}
.attackdetails{
    grid-row: 2/5;
    grid-column: 3/4;
}

.imageContainer{
    position: relative;
    height: 100%;
    width: 100%;
}
}
@media screen and(max-width: 805px) {
    .grid{
        display: grid;
        row-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows:minmax(400px,auto);
    }
    .map{
        grid-row: 1/2;
    }
    .location{
        grid-row: 2/3 ;
    }
    .date{
        grid-row: 3/4 ;
    }
    .summary{
        grid-row: 4/5;
    }
    .target{
        grid-row: 5/6;
    }
    .attackdetails{
        grid-row: 6/7;
    }
}
.grid div{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:2px;
}
.imageContainer{
    position: relative;
    height: 100%;
    width: 100%;
}
.image{
    display: block;
    min-height:100%;
    min-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    opacity: 0;
    transition:opacity 0.5s;
    backdrop-filter: blur(5px);
}
.overlay:hover{
    opacity: 1;
}
 .overlay:hover *{
    transform: translateY(0px);
} 
.overlay *{
    transform: translateY(20px);
    transition:transform 0.25s;
}
.title{
    font-size: 2em;
    font-weight: bold;
}
.description{
    font-size:1.25em;
    margin-top:0.25em;
}