* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  header nav{
    position: sticky;
  }
  
  header nav ul {
    
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #333;
    overflow: hidden;
  }
  
  header li a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
    display: block;
  }   
  
  header li a{
    margin: 0px;
    float: left;
  }
  
  header li a:hover {
    background-color: #111;
  }
  
  #search-button:hover{
    background-color: grey;
  }
  header li input{
    text-decoration: none;
    padding: 14px 16px;
    float: left;
    font-size: 17px;
  }
  body{
      font-size: 20px;
  }
  body h1,h2{
      color:lightseagreen;
  }

  #table-of-contents{
      background-color: powderblue;
  }
  body a{
    text-decoration: none;
  }