* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
header nav{
  position: sticky;
}

header nav ul {
  
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #333;
  overflow: hidden;
}

header li a {
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color: white;
  display: block;
}   

header li a{
  margin: 0px;
  float: left;
}

header li a:hover {
  background-color: #111;
}

#search-button:hover{
  background-color: grey;
}
header li input{
  text-decoration: none;
  padding: 14px 16px;
  float: left;
  font-size: 12px;
}
.container{
  background-color: white;
}
.content {
  grid-area: content;
  padding-right: 30px;

}
.content h1{
  text-align: center;
}
.items{
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  row-gap: 9px;
}
.item{
  background-color:powderblue;
  position: relative;
  display:grid;
  grid-template-columns: 1fr 1fr;
  border: 1px dotted black;
  height: 300px;
  width: 100%;
  padding: 14px;
  
}
.item-picture{
  padding: 30px;
  background-position:  no-repeat center ; 
  background-size: cover;
  background-repeat: no-repeat;
} 
.item-text{
  padding: 14px;
}
.side {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  
  height: 500px;
  width: 100%;
}
.side-text{
  text-align: center;
}
.side-text ul{
  text-align: left;
  font-size:17px;
}
.side-image{
  max-width: 100%;
  max-height: 100%;
  position: relative;
  background-position:  no-repeat center ; 
  background-size:contain;
  background-repeat: no-repeat;
}

body{
  
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "sidebar content";

}

@media screen and (max-width: 800px) {
  header li a, header li form {
    display: block ;
    float: left !important;
    text-align: left;
    padding: 14px;
  }
  .item{
    grid-template-columns:1fr;
    height: 450px;   
  }
  .wrapper{
    grid-template-columns: 1fr;
    grid-template-areas:
    "content"
    "sidebar";
  }
  .side-image{
    position: center;
  }
}



@media screen and (min-width : 805px) and (max-width: 1000px) {
  header li a, header li form {
    display:block;
    float: left !important;
    text-align: left;
    padding: 14px;
  }
  .item{
    height:450px;
  }
}


/* Details */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}

.image-wrapper img {
  width: 100%;
  grid-row: 1/2;
}

.content-wrapper {
  padding: 30px;
  grid-row: 1/2;
  font-size: 20px;
}

.content-wrapper h1 {
  color: lightseagreen;
}

@media screen and (max-width: 700px) {
  header li a, header li form {
    display: block ;
    float: left !important;
    text-align: left;
    padding: 14px;
  }
  .two-column-wrapper{
    grid-template-columns:1fr; 
  }
  .content-wrapper{
    font-size:15px;
  }
}

@media screen and (min-width : 705px) and (max-width: 1000px) {
  header li a, header li form {
    display:block;
    float: left !important;
    text-align: left;
    padding: 14px;
  }
  .two-column-wrapper{
    grid-template-columns:1fr; 
  }
  .content-wrapper{
    font-size:22px;
  }
}