#searchWrapper{
    display: grid;
    grid-template-columns: auto;
    column-gap: 2em;
    row-gap: 2em;

    margin: 2em;
}
.searchGrid{
    background-color: #F0FFFF;
    outline: thick solid #F5F5DC;
}
#buttons{
    display: block;
    position:sticky;
    top:0;
    
}
#nxtbtn{
    float: right;
}