* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color:lightgray;
}

.mainframe {
    margin: 50px auto;
    background-color: white;
    /* width: 900px; */
    width: 60%;
    height: 85vh;
    resize: vertical;
    overflow: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 14px;
}

.header {
    background-color: grey;
    width: 100%;
    height: 100px;
    padding: 12px 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    position: relative;
}

.right {
    float: right;
}

.headerInput {
    padding: 12px 14px;
    border: 2px;
    margin: 20px 10px 0px 0px;
}

#mainsearch {
    float: right;
}


nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #333;
    overflow: hidden;
}

nav li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    color: white;
    display: block;
    float: left;
}   

nav li a:hover {
    background-color: #111;
}

.sidebar {
    float: left;
    width: 25%;
    padding: 0px;
    margin: 0px;
    border: 1px solid #111;
    border-radius: 5px;
    margin-top: 10px;
}

.sidebar h1 {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 20px;
    background-color:#333;
    color: white;
}

.leftbox {
    margin: 0px 0px 5px 0px;
}

.sidemenu {
    list-style-type: none;
    text-align: left;
    margin: 10px 0px 10px 10px;
    padding: 0px;
}

.sidemenu li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.sidemenu li a:hover {
    color: crimson;
}

.main {
    float: right;
    width: 75%;
    height: 100vh;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
}

.main p {
    padding: 20px;
    text-align: justify;
}

.adder {
    margin: 0px auto;
    width: 90%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

.adder input[type="text"], input[type="date"], input[type="number"], input[type="email"], input[type="password"], textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.adder label {
    padding: 8px 12px 12px 0px;
    display: inline-block;
}

.adder h4 {
    font-weight: 200;
}

input[type=submit] {
    padding: 12px 20px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #333;
    color: white;
}

input[type=submit]:hover{
    background-color: #111;
}

.active {
    color: crimson;
}

.tablemain {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: justify;
    padding: 10px;
}

@media screen and (max-width:900px) {
    .mainframe, .main, .sidebar, .adder {
        width: 100%;
    }
    .headerInput {
        width: 30%;
    }
}