body {
    background-color: lightgrey;
    margin: 0px;
}

.mainframe {
    width: 50%;
    height: auto;
    background-color: red;
    margin: 0px auto;
    padding: 12px 14px;
    text-align: center;
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(34,34,34,1) 35%, rgba(17,17,17,1) 100%);
    margin-top: 250px;
    color: white;
    border-radius: 15px;
}


/* TODO Not to duplicate code */
input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    width: 30%;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background-color: red;
}

@media only screen and (max-width: 900px) {
    .mainframe {
        width: 100%;
        height: 95vh;
        margin: 0px;
        padding: 20px 0px;
        border-radius: 0px;
    }

    .mainframe form {
        margin-top: 50%;
    }

    input {
        width: 80%;
        margin: 0px;
    }
}